<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Subtitulo</ion-card-subtitle>
          <ion-card-title>Titulo</ion-card-title>
        </ion-card-header>
     
        <ion-card-content>
          En esta campo se ingresa en texto de la imagen
        </ion-card-content>
      </ion-card>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"class="ion-padding">

  <h1> Contenido </h1>
  
</ion-content>
